$colorPrincipal:#Df3F1D;
$colorSecundario:#EDA0AB;
$colorTerciario:#FFF8E0;
$colorHover: #6C63FF;
$colorTexto: #2F2E41;
$tamanioTexto:20px;
$tamanioTituloh5: 15px;

@mixin bloqueFlexEncolumnadoCentrado(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button1(){
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: $colorPrincipal;
    color: $colorTerciario;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
        background-color: $colorHover;
    }
}

.navbar{
    margin: 0;
    ul{
        list-style: none;
        display: flex;
        justify-content: end;
        padding: 10px;
        margin: 10px;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: $colorTerciario;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                opacity: .80;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

header {
    @include bloqueFlexEncolumnadoCentrado();
    background-color: #75B2B7;
    background-image: linear-gradient(to top, white , #75B2B7);
    margin: 0;
    text-align: center;

    a {
        margin: 0 20px;
    }
}

.container1{
    display: flex;
    justify-content: space-between;
    background-color: $colorSecundario;
    padding: 15px 15px;
    margin: 0;
    color: $colorTexto;
    background-color: $colorSecundario;
    
    p{
      font-size: $tamanioTexto;
    }

    img {
        width: 100%;
    }

    button{
        @include button1();
    }
}

.box1{
    border-radius: 5px;
    padding: 15px 15px;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5{
        font-size: $tamanioTituloh5;
    }

    p{
        font-size: $tamanioTexto;
    }

    img.flag {
        max-width: 300px;
    }
}

.container-3col{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $colorSecundario;
    
    .box2{
        width: calc(33% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div:nth-child(2){
            text-align: center;
        }

        img{
            width: 100%;
            border-radius: 15px
        }
            
        button{
            @include button1();
        }

    }
}

.main-title {
    margin: 10px;
    text-align: center;
}

.box3 {
    text-align: center;
    width: 50%;
}

.row {
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.column {
    width: calc(25% - 20px);
}

footer {
    @include bloqueFlexEncolumnadoCentrado();
    margin: 20px 10px;

    p {
        text-align: center;
    }

    img.logo {
        width: 250px;
        max-width: 70%;
    }
}

@media screen and (max-width:950px) {

    .column {
        width: calc(50% - 20px);
        margin-bottom: 15px;
    }
}

@media screen and (max-width:768px) {

    .container1 {
        flex-direction: column-reverse;
    }

    .box1 {
        width: 100%;
        padding: 0;
        
        img {
            //max-width: 450px;
        }
    }

    .box3 {
        width: 100%;
    }
    
    .hide-on-tablet{
        display: none;
    }
}

@media screen and (max-width:600px) {
    header{
        a {
            margin: 0 5px;
        }

    } 

    .container-3col{

        .box2{
            width: 100%;
            margin: 10px;
            align-items: center;

            img {
                max-width: 450px;
                
            }
        }
    }
    
    .column {
        width: calc(100% - 30px);
        margin-bottom: 15px;
    }
}